{{> pagination}}
<div class="row card-search-list card-search-results-grid-3-text">
	{{#each results.cards}}
	
	{{#ifRowBegin @index 3 result.cards.length}}
	<div class="row">
	{{/ifRowBegin}}
	
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="card">
			
			<div class="header bg-{{sphere}}">
				{{!--
				{{#if faction}}
				<div class="box-left">
					<div class="db-icon db-icon-{{sphere}}"></div>
				</div>
				{{/if}}
				--}}
				{{#smartIf unique}}
				<div class="box-left">
					<div class="db-icon db-icon-unique"></div>
				</div>
				{{/smartIf}}
				<div class="box-center">
					<h4 class="primary-text">
						<a href="{{cardUrl this}}">{{name}}</a>
					</h4>
				</div>
			</div>
			
			<div class="box-center content">
				<strong>{{searchLinkType this}}. {{#if sphere}}{{searchLinkSphere this}}.{{/if}}</strong><br/>
				{{#if traits}}<span><i><strong>{{searchLinkTraits this}}</strong></i></span><br/>{{/if}}
				<br />
				<span class="attrs">
					{{#smartIf threatCost}}<span class="attr-threat-cost">{{threatCost}}</span>{{/smartIf}}
					{{#smartIf resourceCost}}<span class="attr-resource-cost">{{resourceCost}}</span>{{/smartIf}}
					{{#smartIf engagementCost}}<span class="attr-engagement-cost">{{engagementCost}}</span>{{/smartIf}}					 
					{{#smartIf willpower}}<i class="db-icon db-icon-willpower"></i>{{willpower}}{{/smartIf}}
					{{#smartIf threat}}<i class="db-icon db-icon-threat"></i>{{threat}}{{/smartIf}}
					{{#smartIf attack}}<i class="db-icon db-icon-attack"></i>{{attack}}{{/smartIf}}
					{{#smartIf defense}}<i class="db-icon db-icon-defense"></i>{{defense}}{{/smartIf}} 
					{{#smartIf hitPoints}}<span class="attr-hit-points">{{hitPoints}}</span>{{/smartIf}} 
					
					{{!--
					<br/>
					{{#ifEqual unique true}}{{loc 'card.unique'}}. {{/ifEqual}}
					{{#ifEqual unique false}}{{loc 'card.nonUnique'}}. {{/ifEqual}}
					--}}
					<br/>
				</span>
				{{#unlessEqual type 'planet'}}{{#unlessEqual type 'token'}}<br/>{{/unlessEqual}}{{/unlessEqual}}
				{{#if text}}{{{htmlText}}}<br/><br/>{{/if}}
				{{searchLinkSetName this}} #{{number}}
			</div>
			
		</div>	
	</div>
	
	{{#ifRowEnd @index 3 result.cards.length}}
	</div>
	{{/ifRowEnd}}
	
	{{/each}}
</div>
{{> pagination}}