{{> pagination ~}}
<div class="deck-list">
	<div class="row">
		{{#each deckWrappers}}
		<div class="col-sm-6 col-xs-12">
			<div class="deck">
				
				{{#with deck}}
				<div class="header bg-dummy">					
					<div class="box-center">
						<h4 class="primary-text">
							{{#if ../published}}
							<a href="{{rootUrl}}{{id}}-{{techName}}">{{name}}</a>
							{{else}}
							<a href="{{rootUrl}}edit/{{id}}-{{techName}}">{{name}}</a>
							{{/if}}
						</h4>
						<div class="secondary-text" style="position: relative;">{{warlord.name}}
							<div class="deck-icons">
								{{#if tournamentPlace}}
								{{#if tournamentType}}
								<i class="{{translate tournamentType 'tournamentTypeIconClass'}}" data-toggle="tooltip"
									data-placement="bottom" title="{{loc (translate tournamentType 'tournamentTypeDisplay')}}"
									style="font-size: 0.9em;"></i>
								{{/if}}
								<i class="{{translate tournamentPlace 'tournamentPlaceIconClass'}}" data-toggle="tooltip"
									data-placement="bottom" title="{{loc (translate tournamentPlace 'tournamentPlaceDisplay')}}"></i>
								{{/if}}
								{{#if totalDeckInterest}}
								{{#if userDeckInterest}}
								<i class="{{translate userDeckInterest 'interestIconClass' kind='superb'}}" style="margin-left: 10px;"></i>
								{{totalDeckInterest.superb}}
								<i class="{{translate userDeckInterest 'interestIconClass' kind='favourite'}}"></i>
								{{totalDeckInterest.favourite}}
								{{/if}}
								{{/if}}
							</div>
						</div>
					</div>
				</div>
				{{/with}}
				
				<div class="row" style="margin-left: 0px; margin-right: 0px;">
					{{#each deck.selectedHeroes ~}}
					<div class="col-xs-12 col-md-{{divide 12 ../deck.selectedHeroes.length}} bg-{{card.sphere}} hero">
						<i class="db-icon db-icon-{{card.sphere}}" style="margin-right: 5px;"></i>{{card.name}}
					</div>
					{{/each ~}}
				</div>
				
				<div class="box-center">
					<div class="chart-container cost pull-left" data-deck-id="{{deck.id}}" style="width:200px; height:150px;"></div>
					<div class="chart-container faction pull-left" data-deck-id="{{deck.id}}" style="width:140px; height:150px;"></div>
					<div class="chart-container type pull-left" data-deck-id="{{deck.id}}" style="width:140px; height:150px;"></div>
				</div>
				
				<div class="footer clearfix">
					<span class="secondary-text pull-right">
						{{#if published}}
						<span class="value">{{deck.username}}
							{{#smartIf deck.userContributor}} 
							<span data-toggle="tooltip" data-placement="bottom" title="OneRingDB contributor">
								<i class="glyphicon glyphicon-gift"></i>
							</span>
							{{/smartIf}}
						</span>
						<span class="separator"> &#8226; </span>
						<span class="value" data-toggle="tooltip" data-placement="bottom" title="{{loc 'core.published'}}: {{moment deck.createDate}}">
							{{momentFromNow deck.createDate}}
						</span>
						{{else}}
						<span class="value" data-toggle="tooltip" data-placement="bottom" title="{{loc 'core.created'}}: {{moment deck.createDate}}">
							{{momentFromNow deck.createDate}}
						</span>
						{{/if}}
						{{#unlessEqual deck.createDate deck.modifyDate}}
						<span class="separator"> &#8226; </span>
						<span class="value" data-toggle="tooltip" data-placement="bottom" title="{{loc 'core.modified'}}: {{moment deck.modifyDate}}">
							{{momentFromNow deck.modifyDate}}
						</span>
						{{/unlessEqual}}
					</span>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</div>
{{> pagination ~}}