<div class="modal modal-member">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="btn-group btn-group-qty" style="display: table; margin-bottom: 10px; margin-left: auto; margin-right: auto;">
					{{#for 0 member.availableQuantity 1}}
					<label class="btn btn-default" {{#smartIf ../readOnly}}disabled="disabled"{{/smartIf}} data-quantity="{{this}}">{{this}}</label>
					{{/for}}
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-6">
						{{> card-text-content member.card}}
					</div>
					<div class="col-xs-12 col-md-6" style="text-align: center;">
						<img src="{{cardImagePath member.card.imageBase}}" class="card-md" />
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="{{cardUrl member.card}}" class="btn btn-default" target="_blank">
					<span class="glyphicon glyphicon-search"></span>&nbsp;{{loc 'core.gotoCardPage'}}
				</a>
				<button type="button" class="btn btn-default" data-dismiss="modal" id="exportCloseButton">
					<span class="glyphicon glyphicon-remove"></span>&nbsp;{{loc 'core.close'}}
				</button>
			</div>
		</div>
	</div>
</div>
